<div id="showMenu" class="showMenu page-background row">
    <nav class="page-nav col-sm-12 col-md-12 col-lg-12">
        <ul class="page-black-nav">
            <li>
                <a href="#"><i class="fa fa-desktop font-size18 padding-r-5"></i>导航 <i class="fa fa-sort-desc"></i></a>
                <div class="page-nav-select page-nav-select1">
                    <div class="page-nav-select-pull"><a href="#">导航下拉选项</a></div>
                    <div class="page-nav-select-pull"><a href="#">导航下拉选项</a></div>
                    <div class="page-nav-select-pull"><a href="#">导航下拉选项</a></div>
                    <div class="page-nav-select-pull"><a href="#">导航下拉选项</a></div>
                    <div class="page-nav-select-pull"><a href="#">导航下拉选项</a></div>
                    <div class="page-nav-select-pull"><a href="#">导航下拉选项</a></div>
                    <div class="page-nav-select-pull"><a href="#">导航下拉选项</a></div>
                </div>
            </li>
            <li><a href="#"><i class="fa fa-hand-spock-o font-size18 padding-r-5"></i>导航</a></li>
            <li><a href="#"><i class="fa fa-leaf font-size18 padding-r-5"></i>导航</a></li>
            <li><a href="#"><i class="fa fa-paw font-size18 padding-r-5"></i>条件</a></li>
        </ul>
    </nav>

    <section class="page-section col-sm-12 col-md-12 col-lg-12 padding-b-100">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-b-20">新增基础额度</h2>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>省份名称：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value="">上海</option>
                <option value="">河南</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>城市名称：</span>
            </div>
            <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" value="许昌">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>行业一级分类：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value=""></option>
                <option value="">大型仓储式家庭用品卖场</option>
                <option value="">便利店</option>
                <option value="">百货商场</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>行业二级分类：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value=""></option>
                <option value="">大型仓储式家庭用品卖场</option>
                <option value="">便利店</option>
                <option value="">百货商场</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>门店数：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>营业面积范围：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value="">100+</option>
                <option value="">200+</option>
                <option value="">500+</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>是否有营业执照：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value="">有</option>
                <option value="">无</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>营业执照开始时间：</span>
            </div>
            <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" value="2022-03">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>学历：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value="">初中</option>
                <option value="">高中/中专</option>
                <option value="">硕士</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>是否本地户口：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value="">是</option>
                <option value="">否</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 alignStyle font-color-blue">
            <div>
                <span>门店物业性质：</span>
            </div>
            <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <option value="">租借</option>
                <option value="">自置物业</option>
                <option value="">其他</option>
            </select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center padding-t-50">
            <button type="button" class="btn btn-redGray btn-shadow margin-t-50 margin-r-15">删除额度</button>
            <button type="button" class="btn btn-gray btn-shadow margin-t-50">新增额度</button>
        </div>
    </section>
</div>



