<main onclick="closeMenu()" class="height700 index-info">
    <!--<canvas id="index-main" class="index-main" width="1500" height="600"></canvas>-->
    <div class="index-main-text index-main-text-anima text-center">Welcome Credit</div>
    <div class="index-main-button text-center index-main-button-t-anima">
        <a onclick="listReady()" class="a-pull-left media940-margin-r-30 font-F-pinghei nav-mark-hull" ng-href="#/creditList">{{name}} 工作<div class="nav-mark"></div></a>
        <i></i>
        <a onclick="listReady()" class="a-pull-right font-F-pinghei nav-mark-hull" ng-href="#/creditList">Start Work<div class="nav-mark"></div></a>
    </div>
</main>