<div id="showMenu" class="showMenu page-background row">
    <nav class="page-nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="page-black-nav">
            <li>
                <a href="javascript:void(0)"><i class="fa fa-fire font-size18 padding-r-5"></i>导航 <i class="fa fa-sort-desc"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-close font-size18 padding-r-5"></i>删除</a></li>
        </ul>
    </nav>

    <div class="page-section col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-tb-30">
        <section class="infoPopup">
            <ul class="cd-pricing col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!--<li>
                    <header class="cd-pricing-header">
                        <h2>商编管理</h2>

                        <div class="cd-price">
                            <span>老K科技有限公司：</span>
                            <span>12312</span>
                        </div>
                    </header> &lt;!&ndash; .cd-pricing-header &ndash;&gt;

                    <div class="cd-pricing-features">
                        <ul class="Center-l popup-list-info">
                            <li><em>商编1：<span>1231231231231212321</span></em></li>
                            <li><em>商编2：<span>1231231231231212321</span></em></li>
                            <li><em>商编3：<span>1231231231231212321</span></em></li>
                            <li><em>商编4：<span>...</span></em></li>
                        </ul>
                    </div> &lt;!&ndash; .cd-pricing-features &ndash;&gt;

                    <footer class="cd-pricing-footer">
                        <a id="popup1" href="javascript:void(0)">查看</a>
                    </footer> &lt;!&ndash; .cd-pricing-footer &ndash;&gt;
                </li>-->

                <li>
                    <header class="cd-pricing-header">
                        <h2>新增额度</h2>

                        <div class="cd-price">
                            <span>喔</span>
                            <span>O.O</span>
                        </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-features">
                        <ul class="Center-l popup-list-info">
                            <li><em>省份：<span>上海</span></em></li>
                            <li><em>行业：<span>零售批发</span></em></li>
                            <li><em>门店：<span>4个</span></em></li>
                            <li><em>额度：<span>123123</span></em></li>
                        </ul>
                    </div> <!-- .cd-pricing-features -->

                    <footer class="cd-pricing-footer">
                        <a id="popup2" href="javascript:void(0)">查看</a>
                    </footer> <!-- .cd-pricing-footer -->
                </li>

                <li>
                    <header class="cd-pricing-header">
                        <h2>修改申请</h2>

                        <div class="cd-price">
                            <span>=.=</span>
                            <span>month</span>
                        </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-features">
                        <ul class="Center-l popup-list-info">
                            <li><em>渠道来源：<span>线下微信</span></em></li>
                            <li><em>拟融资金额：<span>212322</span></em></li>
                            <li><em>拟融资期限：<span>123天</span></em></li>
                            <li><em>...</em></li>
                        </ul>
                    </div> <!-- .cd-pricing-features -->

                    <footer class="cd-pricing-footer">
                        <a id="popup3" href="javascript:void(0)">查看</a>
                    </footer> <!-- .cd-pricing-footer -->
                </li>
            </ul> <!-- .cd-pricing -->

            <div class="infoPopup-code">
                <div id="popup1-code" class="cd-form">

                    <div class="cd-plan-info">
                        <!-- content will be loaded using jQuery - according to the selected plan -->
                    </div>

                    <div class="cd-more-info">
                        <h3>Mark</h3>
                        <p>All thing are difficult before they are easy.</p>
                    </div>

                    <form>
                        <fieldset>
                            <legend>商编管理</legend>
                            <div class="col-sm-12 col-md-7 col-lg-5 alignStyle font-color-blue checkbox-hull">
                                <input id="mid1" class="col-sm-1 col-md-1 col-lg-1" type="checkbox"/>
                                <label for="mid1" class="col-sm-11 col-md-11 col-lg-11 cursor">1231231231231212321</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12"></div>

                            <div class="col-sm-12 col-md-7 col-lg-5 alignStyle font-color-blue checkbox-hull">
                                <input id="mid2" class="col-sm-1 col-md-1 col-lg-1" type="checkbox"/>
                                <label for="mid2" class="col-sm-11 col-md-11 col-lg-11 cursor">1231231231231212321</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12"></div>

                            <div class="col-sm-12 col-md-7 col-lg-5 alignStyle font-color-blue checkbox-hull">
                                <input id="mid3" class="col-sm-1 col-md-1 col-lg-1" type="checkbox"/>
                                <label for="mid3" class="col-sm-11 col-md-11 col-lg-11 cursor">1231231231231212321</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12"></div>
                        </fieldset>

                        <fieldset>
                            <div>
                                <input type="submit" value="提交">
                            </div>
                        </fieldset>
                    </form>

                    <a href="#0" class="cd-close"></a>
                </div> <!-- .cd-form -->

                <div id="popup2-code" class="cd-form">

                    <div class="cd-plan-info">
                        <!-- content will be loaded using jQuery - according to the selected plan -->
                    </div>

                    <div class="cd-more-info">
                        <h3>Mark</h3>
                        <p>All thing are difficult before they are easy.</p>
                    </div>

                    <form>
                        <fieldset>
                            <legend>新增授信</legend>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>省份名称：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">上海</option>
                                    <option value="">河南</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>城市名称：</span>
                                </div>
                                <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" value="许昌">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>行业一级分类：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value=""></option>
                                    <option value="">大型仓储式家庭用品卖场</option>
                                    <option value="">便利店</option>
                                    <option value="">百货商场</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>行业二级分类：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value=""></option>
                                    <option value="">大型仓储式家庭用品卖场</option>
                                    <option value="">便利店</option>
                                    <option value="">百货商场</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>门店数：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>营业面积范围：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">100+</option>
                                    <option value="">200+</option>
                                    <option value="">500+</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>是否有营业执照：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">有</option>
                                    <option value="">无</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>营业执照开始时间：</span>
                                </div>
                                <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" value="2022-03">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>学历：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">初中</option>
                                    <option value="">高中/中专</option>
                                    <option value="">硕士</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>是否本地户口：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">是</option>
                                    <option value="">否</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 alignStyle font-color-blue margin-b-5">
                                <div>
                                    <span>门店物业性质：</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">租借</option>
                                    <option value="">自置物业</option>
                                    <option value="">其他</option>
                                </select>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div>
                                <input type="submit" value="提交">
                            </div>
                        </fieldset>
                    </form>

                    <a href="#0" class="cd-close"></a>
                </div> <!-- .cd-form -->

                <div id="popup3-code" class="cd-form">

                    <div class="cd-plan-info">
                        <!-- content will be loaded using jQuery - according to the selected plan -->
                    </div>

                    <div class="cd-more-info">
                        <h3>Mark</h3>
                        <p>All thing are difficult before they are easy.</p>
                    </div>

                    <form action="" method="post">
                        <fieldset>
                            <legend>创建申请</legend>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 alignStyle font-color-blue">
                                <div>
                                    <span>渠道来源</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">线下微信</option>
                                    <option value="">公司网站</option>
                                    <option value="">代理平台</option>
                                </select>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 alignStyle font-color-blue">
                                <div>
                                    <span>商户提供注册名称</span>
                                </div>
                                <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" value="啊啊啊啊">
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 alignStyle font-color-blue">
                                <div>
                                    <span>商户经营省份</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">上海</option>
                                    <option value="">海上</option>
                                    <option value="">河上</option>
                                </select>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 alignStyle font-color-blue">
                                <div>
                                    <span>授信方式</span>
                                </div>
                                <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <option value="">系统决定</option>
                                    <option value="">联合授信</option>
                                    <option value="">合计授信</option>
                                </select>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 alignStyle font-color-blue">
                                <div>
                                    <span>商户拟融资金额（元）</span>
                                </div>
                                <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" value="12212121221">
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 alignStyle font-color-blue">
                                <div>
                                    <span>商户拟融资期限（天）</span>
                                </div>
                                <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" value="222">
                            </div>
                        </fieldset>

                        <fieldset>
                            <div>
                                <input type="submit" value="提交">
                            </div>
                        </fieldset>
                    </form>

                    <a href="#0" class="cd-close"></a>
                </div> <!-- .cd-form -->

            </div><!--infoPopup-code-->
            <div class="cd-overlay"></div> <!-- shadow layer -->
        </section>

    </div>
</div>



<script src="../library/infoShowPopup/js/main.js"></script>
